* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Heebo", sans-serif;
  
}

.navBarFix {
  display: flex;
  position:fixed;
  z-index: 5;
  background:#7d39ee;
  width: 100%;
  height: auto;
  align-items: center;
 }
 

.background-header {
  height: 8vh; 
  width:100%;
  height: 8vh;
  
}

/*
.nav ul > li a:hover {
  color:#fc94a3  ;
  transition: 0.7s;
}
*/

.banner {
  display: flex;
  background: url(../imagenes/imagenesIndex/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  width: 100%;

}

.resume {
  width: 45%;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 25px;
}


.btn-primary {
  background-image: linear-gradient(to right,
    #fc94a3  ,
    #b474a4,
    #6c5cac,
    #0c3497    
  );
}

.btn-primary {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;  cursor:pointer;
  border: none;
  border-radius:30px;
  
}

.btn-primary:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.img-profile {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  background-color: RGB(98, 91, 171);
}

.style-hr{
  margin-top: 0;
  height: 5px;
  background:linear-gradient(to right,#fc94a3  ,#b474a4,#6c5cac,#0c3497  );
}


.section-works {
  max-width: 800px;
  margin: auto;
}

.card {
  display: flex;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 91%, rgba(240,196,199,0.44611347957151615) 100%);


}

.card div img {
  width: 246px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.text-works {
  font-size: 1em;
  margin-bottom: 30px;
  font-weight: 300;
}

.container-detail {
  margin-left: 20px;
}

.container-detail p {
  margin-top: 20px;
  width: 100% !important;
}

.label-dark {
  background-color: #142850;
  color: #fff;
  border-radius: 16px;
  padding: 5px 10px;
  font-weight: bold;
}

.text-light {
  color: #8695a4;
}

hr {
  height: 0.5px;
  background-color: #e0e0e0;
  border: 0.5px solid #e0e0e0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.link-portafolio {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.link-portafolio:hover {
  color: #ff6464  ;
  text-decoration: underline;
}

.background-footer {
  background: #7d39ee;
  
}

.btn-secondary{
  background: #fc94a3;
}

.title2{
  color: #fc94a3;
  font-size: 1.5em;
}
/*
.select-option-mode {

}
*/
body[data-mode="light"] {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: black;
}

body[data-mode="dark"] {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #18191f;
  color: white;
}
